.home {
  width: calc(100% - 150px);
  margin: 0 auto;
  position: relative;
  /* padding: 2rem; */
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
  .home {
  width: calc(100% - 30px);

}

}