@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Sacramento&display=swap');

:root {
  font-family: 'Cormorant', serif;
  color: #1A1C1B;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
}


.my-container{
  @apply px-4 py-20 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20;
}

.btn-primary {
  @apply font-medium transition duration-200  shadow-md  md:mb-0  px-4 py-2 md:px-8 md:py-3 m-2 text-lg rounded-full border-transparent border-2  text-primary hover:bg-accent ;
}

 
  .active{
    @apply font-semibold tracking-wide text-white transition-colors duration-200 hover:border-b-white hover:border-b-2
  }
  
  .default{
    @apply font-medium tracking-wide text-accent transition-colors duration-200  hover:text-white hover:border-b-2
  }